// @file
// Styles for Header Layout.

.l-header {
  background-color: #330000;
  .l-constrain {
    display: flex;
    justify-content: space-between;
    @include breakpoint($bp-large) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
