.frontpage__content {
  color: #fff;
  @include breakpoint($bp-xlarge) {
    position: fixed;
  }
}

.get-involved__item {
  display: flex;
  margin-bottom: 50px;
}

.get-involved--image {
  margin-right: 16px; 
  width: 230px;
}

.get-involved--link {
   text-align: center;
}

.get-involved__content {
   margin-bottom: 40px;
}