.home {
  .l-sidebar__main {
    background-color: #dcd2c7;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  } 
  .l-sidebar__sidebar {
    background-color: #fff;
    padding-top: 40px;
    @include breakpoint($bp-small) {
      padding-top: 30px;
    }
  }
  .frontpage__content {
    @include breakpoint($bp-medium) {
      position: sticky;
      top: 30px;
    }
  } 
}

.frontpage__content {
  background-color: #dcd2c7;
  color: #fff;
  position: relative;
}

.fontpage__intro {
  font-size: 24px;
  font-weight: bold;
  @include breakpoint($bp-small) {
    font-size: 28px;
  }
}

.get-involved__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  @include breakpoint($bp-small) {
    flex-direction: row;
  }
  h3 {
    max-width: 275px;
  }
}

.get-involved--image {
  width: 100%;
  @include breakpoint($bp-small) {
    margin-right: 16px; 
    width: 230px;
  }
}

.get-involved--link {
   text-align: center;
}

.get-involved__content {
   margin-bottom: 40px;
}

.admin-bar {
  .sticky-active {
    top: 32px!important;
  }
}