.homepage {
  .l-sidebar__main {
    background-color: #fff;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    &::before {
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
      background-color: rgba(51, 0, 0, 0.3);
    }
  }
}

.home-page {
  .l-sidebar__main {
    background-color: #fff;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    &::before {
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
      background-color: rgba(51, 0, 0, 0.3);
    }
  }  
}

.frontpage__content {
  color: #fff;
  position: relative;
  @include breakpoint($bp-xlarge) {
  }
}

.fontpage__intro {
  font-size: 20px;
  font-weight: bold;
}

.get-involved__item {
  display: flex;
  margin-bottom: 50px;
}

.get-involved--image {
  margin-right: 16px; 
  width: 230px;
}

.get-involved--link {
   text-align: center;
}

.get-involved__content {
   margin-bottom: 40px;
}

.admin-bar {
  .sticky-active {
    top: 32px!important;
  }
}