{% extends 'base.twig' %}

{% block content %}
  <!-- Provided by templates/archive.twig -->
  {% embed '@layouts/sidebar/sidebar.twig' %}
    {% block sidebar_aside %}
      <div class="arhcive-filters">
        <h2>Filter By</h2>
      </div>
    {% endblock %}
    {% block sidebar_main %}
      <div class="archive-results">
			  {% include 'templates/components/archive-loop.twig' %}
			  {% include '@components/pager/pager.twig' %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}