{% extends 'base.twig' %}

{% block content %}
  <!-- Provided by templates/archive-archive.twig -->
  {% embed '@layouts/sidebar/sidebar.twig' %}
    {% block sidebar_aside %}
      <div class="arhcive-filters">
        <h2>Search</h2>
        {% include '@components/searchform/searchform.twig' with {
          'action': '/',
          'placeholder' : 'Enter Keyword',
          'button_label': 'Search'
        } %}
        <h2>Filter By</h2>
        <label class="form-item__label">Collection</label>
        {{ function( 'facetwp_display', 'facet', 'collection' ) }}
        <label class="form-item__label">Topic</label>
        {{ function( 'facetwp_display', 'facet', 'topic' ) }}
      </div>
    {% endblock %}
    {% block sidebar_main %}
      <div class="archive-results">
        {% include '@components/archive-toolbar/archive-toolbar.twig' %}
        <div id="cbp-vm" class="facetwp-template cbp-vm-view-grid">
			  {% include 'templates/components/archive-loop.twig' %}
        </div>
        {% include '@components/pager/pager.twig' %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}