{% extends 'base.twig' %}

{% block content %}
  <!-- Provided by templates/front-page.twig -->
  {% embed '@layouts/regions/content/content.twig' %}
    {% block content %}
      <h2>Stories from the archive</h2>
    {% endblock %}
  {% endembed %}
{% endblock %}
