{% extends 'base.twig' %}

{% block content %}
  <!-- Provided by templates/page.twig -->
  <div class="l-content">
    <div class="l-constrain--medium">
        <h1>{{ post.title }}</h1>
        {{ post.content }}
        {% for collection in collections %}
          {% include '@components/card/card.twig' with {
            'title': collection.name,
            'url': '/collection/' ~ collection.slug,
          } %}
        {% endfor %}
    </div>
  </div>
{% endblock %}
