{% extends 'base.twig' %}

{% block content %}
  <!-- Provided by templates/single.twig -->
  {% embed '@layouts/sidebar/sidebar.twig' %}
    {% block sidebar_aside %}
      <div class="back-button"><a href="{{ referer }}">< Go Back</a></div>
      <div class="l-constrain">
        <div class="single-archive-sidebar__content">
    	    <h2 class="single-archive__title">{{ post.title }}</h2>
          <label class="form-item__label">Description</label>
          <div class="single-archive-description">{{ post.preview.read_more(false) }}</div>
          <label class="form-item__label">Topics</label>
          <div class="single-archive__topics"></div>
          <label class="form-item__label">Additional Metadata</label>
          <div class="single-archive__metadata">
            <div class="single-archive__date"><span>Date:</span> {{ post.date|date("F Y") }}</div>
            <div class="single-archive__type"></div>
          </div>
        </div>
      </div>
    {% endblock %}
    {% block sidebar_main %}
      {% if function( 'get_post_format' ) %}
        {% include 'post-formats/content-' ~ function( 'get_post_format' ) ~ '.twig' %}
      {% else %}
        {% include 'post-formats/content.twig' %}
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
