{% extends 'base.twig' %}

{% block content %}
  <!-- Provided by templates/single.twig -->
  {% include '@components/story-toolbar/story-toolbar.twig' %}
  <div class="story-content l-constrain">
        {% include 'post-formats/content.twig' %}
  </div>
{% endblock %}