{% extends 'base.twig' %}

{% block content %}
  <!-- Provided by templates/single.twig -->
  {% embed '@layouts/sidebar/sidebar.twig' %}
    {% block sidebar_aside %}
      <div class="back-button"><a href="#">< Go Back</a></div>
      <div class="l-constrain">
        <div class="single-archive-sidebar__content">
    	    <h2>{{ post.title }}</h2>
          <h4>Description</h4>
          <div class="single-archive-description">{{ post.preview.read_more(false) }}</div>
        </div>
      </div>
    {% endblock %}
    {% block sidebar_main %}
      {% if function( 'get_post_format' ) %}
        {% include 'post-formats/content-' ~ function( 'get_post_format' ) ~ '.twig' %}
      {% else %}
        {% include 'post-formats/content.twig' %}
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
