.single-archive {
  .l-sidebar__sidebar {
    background-color: #fff;
    padding: 0px;
  }
  .l-sidebar__main {
    background-color: #000;
    margin-left: 0px;
    padding-left: 1rem;
  }
}

.single-archive-sidebar__content {
  padding: 40px;
}

.back-button {
  background-color: #efefef; 
  font-family: $header-font-family-secondary;
  font-size: 18px;
  font-weight: bold;
  padding: 40px;
  text-transform: uppercase;
}

.pdfemb-the-canvas {
  max-width: 750px;
  width: auto!important;
  height: auto!important;
}

.pdfemb-viewer {
  margin: 0 auto!important;
  max-width: 750px;
  height: auto!important;
}

.pdfemb-pagescontainer {
  height: auto!important;
}

.pdfemb-inner-div {
  height: auto!important;
}