.single-archive {
  .l-sidebar {
    background: black;
    display: flex;
    flex-direction: column-reverse;
    @include breakpoint($bp-medium) {
      flex-direction: row-reverse;
    }
  }
  .l-sidebar__sidebar {
    background-color: #fff;
    max-width: 540px;
    padding: 0px;
  }
  .l-sidebar__main {
    background-color: #000;
    margin-left: 0px;
    margin-right: 0px;
    max-height: calc(100vh - 70px);
    @include breakpoint($bp-large) {
      position: sticky;
      top: 0px;
    }
  }

  @include breakpoint($bp-medium) {
    padding-left: 1rem;
    .pdfemb-viewer {
      margin: 0 auto;
      margin-top: 40px;
    }
  }
  .book-widget {
    height: 500px!important;
    @include breakpoint($bp-medium) {
      height: initial!important;
    }
  }
}

.single-archive-sidebar__content {
  padding: 40px;
}

.back-button {
  background-color: #efefef; 
  font-family: $header-font-family-secondary;
  font-size: 18px;
  font-weight: bold;
  padding: 25px 40px;
  text-transform: uppercase;
}

.single-archive__title {
  color: #330000;
  font-size: 35px;
  font-weight: bold;
  @include breakpoint($bp-medium) {
    font-size: 40px;
  }
}

.single-archive-download {
  margin-bottom: 40px;
}

.single-archive-description {
  margin-bottom: 40px;
}

.single-archive__topics {
  margin-bottom: 40px;
}

.single-archive__metadata {
  span {
    font-weight: bold;
  }
}

.single-archive__type {
  text-transform: capitalize;
}

.single-archive__provenance {
  margin-bottom: 40px;
  span {
    font-weight: bold;
  }
}

.single-archive .article {
  @include breakpoint($bp-medium) {
    position: sticky;
    top: 40px;
  }
}

