.facetwp-counts {
  display: inline-block;
}

.facetwp-counter {
  display: none;
}

.facetwp-selections {
  display: inline-block;
  .facetwp-selection-label {
    display: none;
  }
  .facetwp-selection-value {
    font-weight: bold;
  }
  ul {
    padding-left: 0px;
  }
}

.facetwp-template {
  margin-right: 40px;	
}