// @file
// Styles for image teaser.

.image-teaser {
  img {
    max-width: 100px;
  }
}

.image-teaser__title {
  color: #330000;
  font-size: 21px;
  margin-bottom: 0px;
}

.image-teaser__summary {
  color: #000;
  font-size: 21px;
}