// @file
// Styles for the main menu.

.menu--main {
  @include list-inline;
  display: flex;
  align-items: center;

  .menu__item {
    color: #fff;
    margin-right: 10px;
    &::after {
      content: '/';
    }
  }

  .menu__link {
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
    &:hover, 
    &:focus {
      text-decoration: underline;
    }
  }
}
