// @file
// Styles for the main menu.

.menu--main {
  @include list-inline;
  display: flex;
  align-items: center;

  .menu__link {
    color: #fff;
    text-decoration: none;
    &:hover, 
    &:focus {
      text-decoration: underline;
    }
  }
}
