.story-toolbar {
  align-items: center;
  background-color: #222222;
  padding: 25px 40px;
  h1 {
    color: #fff;
  }
  .story-toolbar__button {
    a {
      margin-bottom: 0px;
    }
  }
  @include breakpoint($bp-medium) {
    display: flex;
    justify-content: space-between;
    h1 {
      margin-bottom: 0px;
    }
  }
}