<div class="story-toolbar">
  <div class="story-toolbar__title">
  	<h1>{{ post.title }}</h1>
  </div>
  <div class="story-toolbar__button">
    <a href="/collection/{{ collection_slug }}" class="button">Browse All Items</a>
  </div>
</div>