.single-story {
  .main {
    background-color: #dcd2c7;
  }
  .cd-timeline-img {
    box-shadow: none;
    span {
      &::before {
        display: none;
      }
    }
  }
}

.story-content {
  padding-bottom: 100px;
  padding-top: 100px;
}

.timeline__item {
  iframe {
    max-width: 100%;
  }
}

.timeline:not(.timeline--horizontal):before {
  background-color: #fff;
}

.timeline__item:after {
  background-color: #000;
  border: 4px solid #000;  
}