.archive-toolbar {
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-left: -20px;
  margin-right: -20px;
  @include breakpoint($bp-xlarge) {
    margin-bottom: 30px;
    margin-top: -40px;
    margin-right: 0px;
    margin-left: -20px;
  }
  .selection-title {
    font-weight: bold;
  }
}