<div class="archive-toolbar">
	<div class="archive-toolbar__info"><span class="selection-title">VIEWING ITEMS IN:</span> {{ function('facetwp_display', 'selections' ) }} <span>({{ function( 'facetwp_display', 'counts' ) }} results)</span></div>
	<div class="archive-toolbar__sort">
		{{ function( 'facetwp_display', 'sort' ) }}
		<div class="cbp-vm-switcher cbp-vm-view-grid">
		  <div class="cbp-vm-options">
		    <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid"><img src="/wp-content/themes/slsc/images/grid-view-icon-active.svg" alt="Grid View"/></a>
		    <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list"><img src="/wp-content/themes/slsc/images/list-view-icon.svg" alt="List View"/></a>
		  </div>
		</div>
	</div>
</div>