{% for post in posts %}
  {% set image_teaser_date %}
    {% include '@components/date/date.twig' with {
      'content': post.date
    } %}
  {% endset %}
  {% if post.thumbnail %}
    {% set image_teaser_image %}
      {% include '@base/images/thumbnail-image.twig' with {
        'img': {
          'thumbnail': {
            'src': post.thumbnail.src(),
            'alt': post.thumnbail.alt
          }
        }
      } %}
    {% endset %}
  {% endif %}
  {% embed '@components/image-teaser/image-teaser.twig' with {
    'url': post.link,
    'title': post.title,
    'date':image_teaser_date,
    'image': image_teaser_image ? image_teaser_image : false,
    'summary': post.preview.read_more(false),
  } %}
  {% endembed %}
  <hr/>
{% else %}
  <h2>Sorry, nothing to display.</h2>
{% endfor %}
