// @file
// Color variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$color-body: #330000;
$color-gradient-dark: rgba(0, 0, 0, 0.1);
$color-gradient-light: rgba(255, 255, 255, 0.1);
$color-link: #330000;
$color-link-hover: #330000;
$color-link-visited: #330000;
$color-selection-background: #330000;
$color-selection-foreground: #fff;
$color-text-primary: #000;
$color-text-secondary: #5b616b;
