// @file
// Styles for Cards.
$card_padding: 1rem;

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: $card_padding*1.5 $card_padding;
  @include breakpoint($bp-large) {
    min-height: 158px;
  }
}

.card__content {
  margin-bottom: $card_padding*.5;
}

.card__media {
  max-height: 317px;
  img {
    width: 100%;
    max-height: 317px;
    object-fit: cover;
    object-position: 0% 0%;
  }
}

.card__title {
  a {
    text-decoration: none;
  }
}

.card__footer {
  margin-top: auto;
}