.single-get_involved {
  .l-sidebar__sidebar {
    background-color: #fff;
    padding: 0px;
  }
  .l-sidebar__main {
    background-color: #dcd2c7;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    padding-left: 1rem;
    padding-top: 40px;

    iframe {
      @include breakpoint($bp-large) {
        height: 500px;
        width: 800px;
      }
    }
  }
}