.single-get_involved {
  .l-sidebar__sidebar {
    background-color: #fff;
    padding: 0px;
  }
  .l-sidebar__main {
    background-color: #dcd2c7;
    margin-left: 0px;
    padding-left: 1rem;
  }
}