.story-title {
  background-color: #330000;
  font-family: $header-font-family-secondary;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
}

.swiper-container {
  height: 100%; 
  width: 100%;
}

.swiper-wrapper {
  margin-bottom: 40px;
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%!important;
  &::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(51, 0, 0, 0.5);
  }
  @include breakpoint($bp-xlarge) {
    height: calc(100vh - 71px);
  }
}

.admin-bar {
  .swiper-slide {
    @include breakpoint($bp-xlarge) {
      height: calc(100vh - 71px - 32px);
    }  
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #fff;
  border-radius: 50%;
  height: 105px;
  width: 105px;
  &::after {
    color: #000;
  }
}

.swiper-slide {
  text-align: center;
  width: 100%;
}

.swiper-title {
  color: #fff;
  font-family: $base-font-family;
  font-size: 48px;
  font-weight: bold;
  padding-top: 400px;
  margin: 0 auto;
  max-width: 531px;
  margin-bottom: 30px;
  z-index: 2;
}

.swiper-button {
  z-index: 2;
  margin-bottom: 40px;
}

.swiper-pagination {
  position: absolute;
  bottom: 80px!important;
} 

.swiper-pagination-bullet-active{
  background: #fff;
}