.swiper-container {
  padding: 20px;
  padding-top: 0px;
  @include breakpoint($bp-small) {
    padding: 40px;
  }
}

.swiper-wrapper {
  margin-bottom: 40px;
}

.swiper-slide-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%!important;  
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  height: 60px;
  opacity: 80%;
  width: 60px;
  &::after {
    color: #000;
  }
  @include breakpoint($bp-xlarge) {
    height: 105px;
    width: 105px;
  }
}

.swiper-slide {
  width: 100%;
}

.swiper-slide__image {
  position: relative;
  width: 100%;
  img {
    object-fit: cover;
    width: 100%;
    height: 140px;
    width: 100%;
    @include breakpoint($bp-medium) {
      height: auto;
      object-fit: initial;
    }
  }
  @include breakpoint($bp-medium) {
    max-height:400px;
    overflow: hidden;
  }
  &::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(51, 0, 0, 0.3);
  }
}

.swiper-slide__content {
  background-color: #fff;
  padding: 20px;
  width: calc(100% - 40px);
}

.swiper-title {
  color: #330000;
  font-family: $base-font-family;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  z-index: 2;
  @include breakpoint($bp-xlarge) {
    font-size: 48px;
  }
}

.swiper-button {
  z-index: 2;
  margin-bottom: 40px;
}

.swiper-pagination {
  position: absolute;
  bottom: 80px!important;
} 

.swiper-pagination-bullet-active{
  background: #fff;
}

.swiper-button-disabled {
  display: none;
}